@charset "UTF-8";
/* CSS Document */


/*箇条書きの「・」を消す*/
li {
  list-style: none;
}

/*リンクの下線を消す*/
a {
  text-decoration: none;
}

.container {
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}


/* ヘッダ－
------------------------------- */
header {
  height: 95px;
  width: 100%;
  background-color: #ffffff;
}

header ul {
  height: 95px;
}

.header-list {
  height: 95px;
  float: left;
  padding-right: 30px;
  padding-left: 40px;
  padding-top: 36px;
  padding-bottom: 49px;
  margin-left: 55px;
  color: #333333;
  line-height: 26px;
}

header a:hover {
  transition: 0.5s;
  opacity: 0.5;
}

/* トップ画
------------------------------- */
#top {
  clear: both;
  height: 710px;
}

  #slides ul {
  position: relative;
  height: 710px;
}

.slide {
  position: absolute;
  width: 100%;
}

.slide:hover {
  transition: 0.5s;
  opacity: 0.7;
}

#dotButton {
  width: 165px;
  height: 75px;
  margin-left: 740px;
}

#dotButton ul li a {
  float: left;
  text-indent: -9999px;
  text-decoration-none;
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 35px;
  margin-left: 30px;
  border-radius: 7px;
  background: #dedede;
}

#dotButton ul li a.target{
	background:#333333;
}

/* メインコンテンツ
------------------------------- */
#main {
  clear: both;
  margin-top: 123px;
  height: 600px;
}

.main-content {
  float: left;
}

.main-pic {
  width: 67%;
  height: 600px;
  width: 839px;
  margin-left: 50px;
  box-shadow: -50px 50px #f5f0e9;
}

.main-text {
  width: 33%;
  padding-top: 63px;
  padding-left: 87px;
}

.main-text a {
  border-bottom: 1px solid #333333;
}

.main-text a:hover {
  transition: 0.5s;
  opacity: 0.5;
}

/* フッター
------------------------------- */
footer {
  clear: both;
  height: 120px;
  margin-top: 120px;
  background-color: #9c917f;
}

/*フッターimg*/
footer img {
  float: left;
  margin-top: 44px;
}

footer img:hover {
  transition: 0.5s;
  opacity: 0.5;
}

/*フッターメニュー*/
footer ul {
  float: right;
  margin-top: 20px;
  color: #333333;
}

footer li {
  padding-bottom: 5px;
}

footer a:hover {
  transition: 0.5s;
  color: #ffffff;
}
